# Configuration file

bannedblocks {
    B:"minecraft:air-0"=false
    B:"minecraft:grass-0"=false
    B:"minecraft:gravel-0"=false
    B:"minecraft:leaves-1"=false
    B:"minecraft:log-0"=false
    B:"minecraft:sand-0"=false
    B:"minecraft:sticky_piston-1"=false
}


banneditems {
    B:"minecraft:dirt-0"=false
    B:"minecraft:sticky_piston-0"=false
    B:"minecraft:wooden_pressure_plate-0"=false
    B:"minecraft:yellow_flower-0"=false
}


general {
    I:"Block 10 percent Regen Interval in ms"=1000
    B:"Block Regeneration Enabled"=true
    I:"Initial Block Regen Delay in ms"=5000

    # Tons of debug printing. Only enable if really needed.
    B:debugMode=false
}


